form {
  display: inline-block;
  text-align: center;
}

ul {
  list-style: none;
}

input {
  width: 50%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
}

input:focus {
  outline: none;
  border: 2px solid orange;
}

button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.navButton {
  margin: 2em;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid purple;
  padding: 0em 1em 0.5em 1em;
}

.navButton:hover {
  border: none;
  border-left: 2px solid purple;
  border-right: 2px solid purple;
}

.submitBtn {
  display: inline-block;
  margin: 5px;
}

.submitBtn:hover {
  background-color: rgb(241, 239, 239);
}

#commentsList {
  list-style: none;
}

.comment {
  position: relative;
  border-color: grey;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-radius: 3px;
}

.commentContent {
  margin: 0.5em;
}

#commentDate {
  color: grey;
  font-size: 12px;
}

.errText {
  color: red;
  font-size: 13px;
}

@media screen and (max-height: 450px) {
}
