.forms {
  display: block;
  text-align: center;
}

.head {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
}

#header {
  display: inline-flex;
  align-items: flex-start;
}

.nav {
  display: inline-flex;
  justify-content: center;
}

#leftNav {
  display: inline-flex;
  align-self: center;
}

#rightNav {
  display: inline-flex;
  align-self: flex-end;
}

#signupForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loginForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style: none;
}

input {
  width: 50%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
}

input:focus {
  outline: none;
  border: 2px solid orange;
}

button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.navButton {
  color: black;
  width: 6em;
  margin: 2em;
  border: none;
  border-radius: 3px;
  border: 2px solid orange;
  padding: 0.5em;
}

.navButton:hover {
  background-color: white;
}

.submitBtn {
  display: inline-block;
  margin: 5px;
}

.submitBtn:hover {
  background-color: rgb(241, 239, 239);
}

#commentsList {
  list-style: none;
}

.comment {
  position: relative;
  border-color: grey;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-radius: 3px;
}

.commentContent {
  margin: 0.5em;
}

#commentDate {
  color: grey;
  font-size: 12px;
}

.errText {
  color: red;
  font-size: 13px;
}
